- name: Make VM directory
  file:
    path: "{{ libvirt_pool_dir }}/{{ vm_name }}"
    state: directory
    mode: '0755'

- name: Download base cloud image
  ansible.builtin.get_url:
    url: "{{ base_image_url }}"
    dest: "{{ libvirt_pool_dir }}/{{ vm_name }}.qcow2"
    mode: '0644'
    force: no

- name: Create VM disk from cloud image
  ansible.builtin.command: >
    qemu-img create -f qcow2
    -F qcow2
    -b {{ libvirt_pool_dir }}/{{ vm_name }}.qcow2
    {{ libvirt_pool_dir }}/{{ vm_name }}/{{ vm_name }}.qcow2 {{ vm_disk_size }}
  args:
    creates: "{{ libvirt_pool_dir }}/{{ vm_name }}/{{ vm_name }}.qcow2"
