- name: Set internal paths
  set_fact:
    vm_image: "{{ libvirt_pool_dir }}/{{ vm_name }}.qcow2"
    seed_iso: "{{ libvirt_pool_dir }}/{{ vm_name }}-seed.iso"

- name: Check VM state
  import_tasks: check.yml

- name: Prepare VM image
  import_tasks: image.yml
  when: not vm_exists


