- name: Generate libvirt XML configuration
  ansible.builtin.template:
    src: vm_template.xml.j2
    dest: "/tmp/{{ vm_name }}.xml"


- name: Define VM
  ansible.builtin.command: virsh -c qemu:///system define /tmp/{{ vm_name }}.xml
  become: true
- name: Start VM
  ansible.builtin.command: virsh -c qemu:///system  start {{ vm_name }}


- name: Get VM info
  community.libvirt.virt:
    name: "{{ vm_name }}"
    command: status
  register: vm_info

