- name: Download base cloud image
  ansible.builtin.get_url:
    url: "{{ base_image_url }}"
    dest: "{{ libvirt_pool_dir }}/{{ base_image_name }}"
    mode: '0644'
    force: no

- name: Create VM disk from cloud image
  ansible.builtin.command: >
    qemu-img create -f qcow2
    -F qcow2
    -b {{ libvirt_pool_dir }}/{{ base_image_name }}
    {{ vm_image }} {{ vm_disk_size }}
  args:
    creates: "{{ vm_image }}"
