- name: Create and start VM via virt-install on remote KVM
  ansible.builtin.command: >
    virt-install
      --connect qemu:///system
      --name {{ vm_name }}
      --memory {{ vm_memory }}
      --vcpus {{ vm_vcpus }}
      --disk path={{ vm_image }},format=qcow2,bus=virtio
      --disk path={{ seed_iso }},device=cdrom,readonly=on,bus=ide
      --os-variant generic
      --network network={{ libvirt_network }},model=virtio
      --graphics none
      --console pty,target_type=serial
      --import
      --noautoconsole
  delegate_to: kvm01
