# Network configuration
network:
  version: 2
  ethernets:
    {{ vm_nic|default("ens3") }}:
      dhcp4: no
      addresses:
        - "{{ vm_ip }}/24"
      gateway4: "{{ vm_gateway }}"
      nameservers:
        addresses:
          - "8.8.8.8"
          - "8.8.4.4"
          - "{{ vm_ip }}"