#cloud-config
hostname: {{ vm_name }}
manage_etc_hosts: true

users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    
chpasswd:
  list: |
    ansible:ansible
  expire: False

package_update: true
packages:
  - vim
  - curl

